<html>
  <head>
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="jquery.min.js"></script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <style>
      .bg-samp { background-color: #F0F0F0; }
    </style>
  </head>
  <body>
    <div class='container'>
      <div class='row'>
        <div class='col'>
          <h1 class='display-4 mb-0'>Docket v0.2.0 Documentation</h1>
        </div>
      </div>
      <hr>
      <div class='row'>
        <div class='col'>
          <h2>Table of Contents</h2>
        </div>
      </div>
      